# Ignore CSV files
*.csv

# Ignore ISF_locations folder
ISF_locations_*/

# Ignore club_files folder
club_files_*/

# Ignore inshape_pricing_formatted_ folder
inshape_pricing_formatted_*

# Ignore pricing files folder
pricing files/

# Ignore Python cache
__pycache__/
